body{align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

*{margin:0;
padding:0;}

body{overflow:hidden;}

.container{display:flex;
    justify-content: center;
}
.water{position:absolute;
       bottom:0;
       display:flex;
      justify-content: center;
      align-items: center;
        background-color:rgb(255, 255, 255);
     
    height:400px;
    width:400px;}
.water:before, .water:after{
    content:'';
    position:absolute;


    background-color: rgb(255, 255, 255);
}
.water:before{
    content:'';
    border-top-left-radius:35%;
    border-top-right-radius:40%;
    border-bottom-left-radius:55%;
    border-bottom-right-radius:55%;

    height:600%;
    width:600%;
    top:-300px;
    background-color:rgb(77, 184, 255);
    animation:anim2 8s;
    animation-delay: 0s;

}
.water:after{background-color: rgb(6, 119, 239);
    height:600%;
    border-radius:45%;
width:600%;
top:-300px;
animation:anim 16s ;
animation-delay:0s ;}

@keyframes anim{

    0%{tranform:rotate(0deg);
        top:300px;}
    50%{}
    100%{transform:rotate(360deg);
    top:-300px;}
}

@keyframes anim2{
    0%{tranform:rotate(0deg);
        top:300px;}
    50%{}
    100%{transform:rotate(360deg);
    top:-300px;}
}

/*-----------------------------------------------------*/
#video-vanish{
        position:relative;
               }
@keyframes slide-up{
    0%{top:0px;}
    80%{opacity:0.5}
    100%{top:-1000px;}
    }
.slide-animation{animation:slide-up;
                animation-duration: 4s;}



/*CALCULATOR KI BODY*/

.bodycalc{height:500px;
         width:350px;
         box-shadow:  4px 6px 80px rgba(0, 0, 0, 0.5), 
         inset 12px 12px 12px rgba(26, 25, 25, 0.12);
                
        border-radius:12px;
        background-color:rgb(13, 15, 35)}


/* OUTPUT WAALI SCREEN*/
.outputbox{width:320px;
        height:80px;
        box-shadow: 5px 5px 5px rgb(35, 107, 250),inset 5px 5px 5px rgb(159, 22, 184);
        margin-top:0.5px;
        margin-left:auto;
        margin-right:auto;
        border-radius:10px}


/*OUTPUT WAALI SCREEN KE ANDAR KA LIKHA HUA*/
.writtenoutput{float:right;
                margin-top:25px;
                color:white;
                font-size: 20px;

               }

.buttons button{background-color:rgb(13, 15, 35);
                color:white;
                width:60px;
                height:60px;
                border:none;
                border-radius:100px;
                font-size:30px; 
                box-shadow: 2px 3px 6px rgba(206, 202, 202, 0.5), 
                inset 2px 3px 6px rgba(186, 182, 182, 0.12);
                transition:0.2s}




.buttons{float:left;
    display:grid;
    grid-template-columns:repeat(3,2px);
    grid-template-rows:1fr 1fr;
    gap:30px 70px;
    margin-left:15px;
}

.operators{margin-right:20px;
           margin-top:px;
           
            }

.operators button{height:10px;width:18px;
                    margin:8px;
                font-size:40px;
                background-color:rgb(23, 169, 185);
            color:white;
            border:none;
            border-radius:10px;
            box-shadow:  2px 3px 6px rgba(206, 202, 202, 0.5), 
                inset 2px 3px 6px rgba(186, 182, 182, 0.12);
            transition:0.3s}
button:hover{font-size:35px;}
