body{align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

/*CALCULATOR KI BODY*/

.bodycalc{height:500px;
         width:350px;
         box-shadow:  4px 6px 80px rgba(0, 0, 0, 0.5), 
         inset 12px 12px 12px rgba(26, 25, 25, 0.12);
                
        border-radius:12px;
        background-color:rgb(13, 15, 35)}


/* OUTPUT WAALI SCREEN*/
.outputbox{width:320px;
        height:80px;
        box-shadow: 5px 5px 5px rgb(35, 107, 250),inset 5px 5px 5px rgb(159, 22, 184);
        margin-top:0.5px;
        margin-left:auto;
        margin-right:auto;
        border-radius:10px}


/*OUTPUT WAALI SCREEN KE ANDAR KA LIKHA HUA*/
.writtenoutput{float:right;
                margin-top:25px;
                color:white;
                font-size: 20px;

               }

.buttons button{background-color:rgb(13, 15, 35);
                color:white;
                width:60px;
                height:60px;
                border:none;
                border-radius:100px;
                font-size:30px; 
                box-shadow: 2px 3px 6px rgba(206, 202, 202, 0.5), 
                inset 2px 3px 6px rgba(186, 182, 182, 0.12);
                transition:0.2s}




.buttons{float:left;
    display:grid;
    grid-template-columns:repeat(3,2px);
    grid-template-rows:1fr 1fr;
    gap:30px 70px;
    margin-left:15px;
}

.operators{margin-right:20px;
           margin-top:px;
           
            }

.operators button{height:10px;width:18px;
                    margin:8px;
                font-size:40px;
                background-color:rgb(23, 169, 185);
            color:white;
            border:none;
            border-radius:10px;
            box-shadow:  2px 3px 6px rgba(206, 202, 202, 0.5), 
                inset 2px 3px 6px rgba(186, 182, 182, 0.12);
            transition:0.3s}
button:hover{font-size:35px;}